@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

.responsive-img {
  @apply block max-w-full h-auto;
}

@tailwind components;

@tailwind utilities;

.prose h2 {
  @apply text-2xl font-bold mt-8 mb-4 pb-2 border-b-2 border-gray-300;
}
